body {
    background-color: white;

}

h1 {
    text-align: center;
}

div .photos {
    display: flex;
    justify-content: space-evenly;
}

.kreisa {
    background-color: white;
    height: 150px;
    align-items: center;
    padding: 2%;
}
  



